.loading-overlay {
  left: 0;
  z-index: 50;
  position: absolute;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  width: 100%;
  background: rgba(255, 255, 255, .8);

  @media screen and (max-width: 575px) {
    margin-top: 66px;
    height: calc(100% - 66px);
  }

  @media screen and (min-width: 576px) {
    margin-top: 75px;
    height: calc(100% - 75px);
  }

  &--full-screen {
    position: fixed;
    height: 100vh;
    width: 100vw;
    margin-top: 0;
  }

  &__container {
    position: absolute;
    top: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__message {
    margin-top: 32px;
    font-weight: 400;
    font-size: 20px;
    color: $manatee;
  }
}

/* Loading Spinner */
div.spinner {
    -moz-animation: rotate .5s infinite ease;
    -webkit-animation: rotate .5s infinite ease;
    animation: rotate .5s infinite ease;
    animation-direction: alternate;
    position: relative;
    display: block;
    margin: auto;
    width: 142px;
    height: 142px;
    transform: scale(1.08);
}

div.spinner i {
    -moz-animation: rotate 2s infinite cubic-bezier(0.09, 0.3, 0.7, 0.03);
    -webkit-animation: rotate 2s infinite cubic-bezier(0.09, 0.3, 0.7, 0.03);
    animation: rotate 2s infinite cubic-bezier(0.09, 0.3, 0.7, 0.03);
    -moz-transform-origin: 50% 100% 0;
    -webkit-transform-origin: 50% 100% 0;
    transform-origin: 50% 100% 0;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    border: solid 6px transparent;
    border-bottom: none;
}

div.spinner i:nth-child(1) {
    -moz-animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
    animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
    width: 44px;
    height: 22px;
    margin-top: -22px;
    margin-left: -22px;
    border-color: #83B9FC;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
}

div.spinner i:nth-child(2) {
    -moz-animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
    animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
    width: 58px;
    height: 29px;
    margin-top: -29px;
    margin-left: -29px;
    border-color: #529FFC;
    border-top-left-radius: 42px;
    border-top-right-radius: 42px;
}

div.spinner i:nth-child(3) {
    -moz-animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
    -webkit-animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
    animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
    width: 72px;
    height: 36px;
    margin-top: -36px;
    margin-left: -36px;
    border-color: #677FFB;
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
}

@-moz-keyframes rotate {
    to {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
