.stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    flex: 1;
    
    > div {
        flex: 1;
        text-align: center;
        border-right: 1px solid #e5e5e5;
        padding: 8px 4px 8px 4px;
        color: #555;

        .count-label {
            text-transform: uppercase;
            color: #aaa;
            font-size: 10px;
            font-weight: 300;
        }
        
    }

    div:last-child {
        border-right: none;
    }
    
}
